.wallpaperDiv{
    margin: 0px;
    padding: 0px;
    /* height: 92%;
    width: 100%; */
    /* border: 1ps solid green; */
}
/* .mainMenuDiv{
    
} */
.wallpaperDiv img{
    width: 90%;
    height: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 9;
    /* margin-left: -150px; */
}